# Configuração do Supabase
VITE_SUPABASE_URL=https://pbifnqradvbvuuqvymji.supabase.co
VITE_SUPABASE_KEY=sb_publishable_dZkkFUeSgKu7Qdt8oSUdgw_25IwXUzC

# Configuração da API Cielo (opcional)
VITE_CIELO_API_URL=https://api.cieloecommerce.cielo.com.br
VITE_CIELO_MERCHANT_ID=seu_merchant_id_aqui
VITE_CIELO_MERCHANT_KEY=sua_merchant_key_aqui

